/*¿Í·þ°´Å¥*/
#kufuserver{margin-top:-200px;position:fixed; _position:absolute; right:0; top:50%; width:150px; height:200px; background:url(../images/kufuserver.png) no-repeat;}
#kufuserver .content{position: absolute; bottom: 0; width: 100%; height: 25px; padding: 3px 36px; background: rgba(255, 255, 255, 0.3);}