################################################################################
*.swp
*.swo

################################################################################
#
# Folders
#
################################################################################
tpl/static/attachment/
themes/
RunTime/
customer_imgs/
uploads/
.idea/
.settings/
attached/
###############################################################################
#
# Files
#
################################################################################
*.xdb
*.mp4
*.ogg
.DS_Store
.buildpath
.project
Conf/logs/
uploads/


