################################################################################
*.swp
*.swo

################################################################################
#
# Folders
#
################################################################################
uploads/
.idea/
.settings/
Conf/logs/
###############################################################################
#
# Files
#
################################################################################
*.xdb
*.mp4
*.ogg
.DS_Store
.buildpath
.project


