<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "/www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cy_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1021,2},{151,148}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{151,148}}</string>
                <key>sourceSize</key>
                <string>{157,150}</string>
            </dict>
            <key>cy_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,2},{151,148}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{151,148}}</string>
                <key>sourceSize</key>
                <string>{157,150}</string>
            </dict>
            <key>cy_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,61},{153,130}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{153,130}}</string>
                <key>sourceSize</key>
                <string>{157,150}</string>
            </dict>
            <key>cy_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,61},{153,130}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{153,130}}</string>
                <key>sourceSize</key>
                <string>{157,150}</string>
            </dict>
            <key>cy_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1319,2},{143,142}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{143,142}}</string>
                <key>sourceSize</key>
                <string>{157,150}</string>
            </dict>
            <key>cy_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,2},{143,142}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{143,142}}</string>
                <key>sourceSize</key>
                <string>{157,150}</string>
            </dict>
            <key>cy_btn_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,152},{116,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{116,36}}</string>
                <key>sourceSize</key>
                <string>{118,36}</string>
            </dict>
            <key>cy_btn_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,152},{116,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{116,36}}</string>
                <key>sourceSize</key>
                <string>{118,36}</string>
            </dict>
            <key>cy_dlg_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{286,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{286,183}}</string>
                <key>sourceSize</key>
                <string>{290,185}</string>
            </dict>
            <key>cy_example.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{266,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,196}}</string>
                <key>sourceSize</key>
                <string>{266,196}</string>
            </dict>
            <key>cy_option_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1609,2},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{67,67}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>cy_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,81},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>cy_sharetip.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,2},{143,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,77}}</string>
                <key>sourceSize</key>
                <string>{143,77}</string>
            </dict>
            <key>cy_timer.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,152},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>cy_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,2},{304,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{304,57}}</string>
                <key>sourceSize</key>
                <string>{320,57}</string>
            </dict>
            <key>cy_wrong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1558,81},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{86,86}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{1678,200}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:13f0352ba36996b06e090d0922cf3069:2d2ede0e6243ace3cb4eddeb793d35b0:ef86396999e18097aad14daa6638d5f9$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
